.modal {
  width: 700px;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.scrollArea {
  margin-top: 20px;
  border-radius: 12px;
  height: 527px;
  background-color: var(--dark-3);
  padding: 16px;
  overflow-y: auto;
}
.title {
  font-family: var(--ff-Eesti);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.info {
  margin-top: 10px;
  font-size: 16px;
  line-height: 155%;
}
.button {
  padding: 11px 55px;
}
.question {
  border-bottom: 1px solid var(--border);
}
.questionHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}
.questionTitle {
  font-weight: 400;
  font-family: var(--ff-Eesti);
  font-size: 20px;
}
.answer {
  font-size: 16px;
  margin-bottom: 12px;
}
.arrow {
  width: 24px;
}

@media screen and (max-width: 1440px) {
  .scrollArea {
    margin-top: 12px;
    border-radius: 8px;
    height: 400px;
    padding: 12px;
  }
  .title {
    font-size: 28px;
  }
  .info {
    margin-top: 7px;
    font-size: 12px;
  }
  .button {
    padding: 8px 48px;
  }
  .questionHeader {
    padding: 20px 0;
  }
  .questionTitle {
    font-weight: 400;

    font-size: 16px;
  }
  .answer {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .modal {
    width: 528px;
  }
  .arrow {
    width: 12px;
  }
}
