.modal {
  width: 600px;
}
.description {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--dark-3);
  color: var(--text-5);
}
.title {
  margin: 10px 0;
  font-size: 30px;
  font-family: var(--ff-Eesti);
  font-weight: 500;
}
.contentTitle {
  margin: 10px 0;
  font-family: var(--ff-Eesti);
  font-weight: 500;
}
.content {
  background-color: var(--dark-3);
  padding: 8px 16px;
  border-radius: 6px;
}
.packageInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}
.packageTitle {
  font-size: 16px;
  font-weight: 600;
}

.buttonWrapper {
  margin-top: 36px;
}
.button {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;

  justify-content: space-between;
  background: linear-gradient(180deg, #ff8800 0%, #ff6a00 100%);
}
.buttonTitle {
  font-family: var(--ff-Eesti);
  font-weight: 500;
  font-size: 20px;
}
.priceWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.oldPrice {
  color: var(--text-6);
  font-size: 22px;
  font-weight: 700;
  text-decoration: line-through;
}
.newPrice {
  font-family: var(--ff-Eesti);
  font-weight: 700;
  font-size: 26px;
}

.discount {
  position: absolute;
  top: -10px;
  left: -30px;
  transform: rotate(-15deg);
  background-color: #ffffff;
  color: var(--accent);
  font-family: var(--ff-Eesti);
  font-size: 16px;
  font-weight: 500;
  border-radius: 100px;
  padding: 5px 18px;
}
@media screen and (max-width: 768px) {
  .discount {
    transform: rotate(15deg);
    left: auto;
    right: -15px;
  }
}
