.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.separator {
  width: 1px;
  background-color: var(--text);
  height: 20px;
}
.variant {
  font-weight: 700;
  cursor: pointer;
}
.variant.disable {
  color: var(--text-6);
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin: 10px 0;
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--dark);
  }
  .variant {
    text-align: center;
    flex-grow: 2;
    padding: 6px 0;
  }
}
