.wrapper {
  position: fixed;
  z-index: 4;
  width: 100vw;
  height: 100svh;
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.308);
}
.wrapper.opened {
  visibility: visible;
}

.modal {
  transition: 0.2s;
  width: 700px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.98);
  border-radius: 44px;
  border: 1px solid var(---border);
}
.wrapper.opened .modal {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.header {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-family: var(--ff-Eesti);
  font-size: 32px;
  font-weight: 700;
}
.content {
  padding: 32px;
  padding-top: 0;
  flex-grow: 2;
  overflow-y: auto;
}
.close {
  width: 20px;
  cursor: pointer;
}
@keyframes modal-anim {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (max-width: 1680px) {
  .modal {
    border-radius: calc(100vw / 43);
    width: calc(100vw / 2.74);
  }
  .header {
    padding: calc(100vw / 96);
  }
  .title {
    font-size: calc(100vw / 60);
  }
  .close {
    width: calc(100vw / 96);
  }
  .content {
    padding: calc(100vw / 60);
  }
}
@media screen and (max-width: 768px) {
  .modal {
    border-radius: 16px;
    width: 100%;
  }
  .header {
    padding: 8px;
  }
  .title {
    font-size: 16px;
  }
  .close {
    width: 16px;
  }
  .content {
    padding: 8px;
  }
}
