.gradient {
  background: linear-gradient(180deg, #ff8800 0%, #ff6a00 100%);
}
.default {
  background-color: var(--dark-3);
}
.error {
  background-color: var(--error);
}
.button {
  font-size: 20px;
  border: 2px solid var(--border);
  font-weight: 500;
  font-family: var(--ff-Eesti);
  padding: 11px 20px;
  transition: 0.1s;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.95;
}
.button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

@media screen and (max-width: 1920px) {
  .button {
    font-size: calc(100vw / 120);
    padding: calc(100vw / 174) calc(100vw / 96);
    border-radius: calc(100vw / 160);
    border: 1px solid var(--border);
  }
}
@media screen and (max-width: 768px) {
  .button {
    font-size: calc(100vw / 48);
    padding: calc(100vw / 69.81) calc(100vw / 38.4);
    border-radius: calc(100vw / 64);
    border: 1px solid var(--border);
  }
}
