.button {
  padding: 7px 22px;
  background: linear-gradient(180deg, #ff8800 0%, #ff6a00 100%);
  border-radius: 12px;
  text-align: center;
  transition: 0.1s;
  cursor: pointer;
}
.button:hover {
  opacity: 0.95;
}
