.gradient {
  background: linear-gradient(180deg, #ff8800 0%, #ff6a00 100%);
}
.default {
  background-color: var(--dark-3);
}
.error {
  background-color: var(--error);
}
.button {
  font-size: 20px;
  border: 2px solid var(--border);
  font-weight: 500;
  font-family: var(--Eesti);
  padding: 11px 20px;
  transition: 0.1s;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.95;
}
.button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

@media screen and (max-width: 1680px) {
  .button {
    font-size: calc(100vw / 96);
    padding: calc(100vw / 174) calc(100vw / 96);
    border-radius: calc(100vw / 160);
    border: 1px solid var(--border);
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 20px;
    padding: 11px 20px;
    border-radius: 12px;
    border: 2px solid var(--border);
  }
}
