.description {
  padding: 8px 16px;
  border-radius: 6px;
  line-height: 155%;
  margin-top: 16px;
  background-color: var(--dark-3);
  color: var(--text-5);
  font-size: 16px;
}
.title {
  margin: 16px 0;
  font-family: var(--ff-Eesti);
  font-weight: 500;
  font-size: 24px;
}
.content {
  background-color: var(--dark-3);
  padding: 5px 10px;
  min-height: 200px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.packageInfo {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;
}
.packageTitle {
  font-size: 18px;
  font-weight: 600;
}
.packageButton {
  width: 140px;
  font-size: 16px;
  padding: 2.5px;
}

@media screen and (max-width: 1920px) {
  .description {
    padding: calc(100vw / 240) calc(100vw / 120);
    border-radius: calc(100vw / 320);
    margin-top: calc(100vw / 120);
    font-size: calc(100vw / 120);
  }

  .title {
    margin: calc(100vw / 120) calc(100vw / 240);
    font-size: calc(100vw / 80);
  }

  .content {
    padding: calc(100vw / 384) calc(100vw / 192);
    min-height: calc(100vw / 9.6);
    border-radius: calc(100vw / 320);
  }

  .packageInfo {
    margin-top: calc(100vw / 384);
  }

  .packageTitle {
    font-size: calc(100vw / 106.667);
  }

  .packageButton {
    width: calc(100vw / 13.714);
    font-size: calc(100vw / 120); /* 5px */
  }
}
@media screen and (max-width: 768px) {
  .description {
    padding: calc(100vw / 96) calc(100vw / 48);
    border-radius: calc(100vw / 128);
    margin-top: calc(100vw / 48);
    font-size: calc(100vw / 48);
  }

  .title {
    margin: calc(100vw / 48) calc(100vw / 96);
    font-size: calc(100vw / 32);
  }

  .content {
    padding: calc(100vw / 153.6) calc(100vw / 76.8);
    min-height: calc(100vw / 3.84);
    border-radius: calc(100vw / 128);
  }

  .packageInfo {
    margin-top: calc(100vw / 153.6);
  }

  .packageTitle {
    font-size: calc(100vw / 42.67);
  }

  .packageButton {
    width: calc(100vw / 5.49);
    font-size: calc(100vw / 48);
  }
}
@media screen and (max-width: 480px) {
  .description {
    padding: calc(100vw / 48.67) calc(100vw / 24.34);
    border-radius: calc(100vw / 64.9);
    margin-top: calc(100vw / 24.34);
    font-size: calc(100vw / 24.34);
  }

  .title {
    margin: calc(100vw / 24.34) calc(100vw / 48.67);
    font-size: calc(100vw / 16.22);
  }

  .content {
    padding: calc(100vw / 77.87) calc(100vw / 39);
    min-height: calc(100vw / 1.95);
    border-radius: calc(100vw / 64.9);
  }

  .packageInfo {
    gap: calc(100vw / 78);
    margin-top: calc(100vw / 77.87);
  }

  .packageTitle {
    font-size: calc(100vw / 26);
  }

  .packageButton {
    width: 140px;
    padding: 0;
    font-size: calc(100vw / 24.34);
  }
}
