.text {
  line-height: 155%;
  margin-top: 16px;
  font-size: 20px;
}
.emailInput {
  width: 100%;
  margin: 36px 0 16px 0;
  background-color: initial;
  border-radius: 12px;
  border: 1px solid var(--border);
  padding: 11px 20px;
  font-size: 20px;
}
.button {
  width: 100%;
  font-family: var(--ff-Eesti);
  font-weight: 500;
  font-size: 20px;
}
.variant {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: var(--text-5);
}
@media screen and (max-width: 1680px) {
  .text {
    margin-top: calc(100vw / 120); /* 16px */
    font-size: calc(100vw / 96);
  }

  .emailInput {
    margin: calc(100vw / 53.333) 0 calc(100vw / 120) 0; /* 36px 0 16px 0 */
    border-radius: calc(100vw / 160); /* 12px */
    padding: calc(100vw / 174.545) calc(100vw / 96); /* 11px 20px */
    font-size: calc(100vw / 96); /* 20px */
  }

  .button {
    width: 100%;
    font-size: calc(100vw / 96); /* 20px */
  }

  .variant {
    font-size: calc(100vw / 106.667); /* 18px */
    margin: calc(100vw / 96) 0; /* 20px 0 */
  }
}
@media (max-width: 480px) {
  .text {
    margin-top: 12px;
    font-size: 16px;
  }

  .emailInput {
    margin: 24px 0 12px 0;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
  }

  .button {
    font-size: 16px;
  }

  .variant {
    font-size: 14px;
    margin: 16px 0;
  }
}

/* Адаптив для планшетов */
@media (max-width: 768px) and (min-width: 481px) {
  .text {
    margin-top: 14px;
    font-size: 18px;
  }

  .emailInput {
    margin: 30px 0 14px 0;
    border-radius: 10px;
    padding: 9px 18px;
    font-size: 18px;
  }

  .button {
    font-size: 18px;
  }

  .variant {
    font-size: 16px;
    margin: 18px 0;
  }
}
