.text {
  line-height: 155%;
  margin-top: 16px;
  font-size: 20px;
}
.emailInput {
  width: 100%;
  margin: 36px 0 16px 0;
  background-color: initial;
  border-radius: 12px;
  border: 1px solid var(--border);
  padding: 11px 20px;
  font-size: 20px;
}
.button {
  width: 100%;
  font-family: var(--ff-Eesti);
  font-weight: 500;
  font-size: 20px;
}
.variant {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: var(--text-5);
}
@media screen and (max-width: 1920px) {
  .text {
    margin-top: calc(100vw / 120); /* 16px */
    font-size: calc(100vw / 96);
  }

  .emailInput {
    margin: calc(100vw / 53.333) 0 calc(100vw / 120) 0; /* 36px 0 16px 0 */
    border-radius: calc(100vw / 160); /* 12px */
    padding: calc(100vw / 174.545) calc(100vw / 96); /* 11px 20px */
    font-size: calc(100vw / 96); /* 20px */
  }

  .button {
    width: 100%;
    font-size: calc(100vw / 96); /* 20px */
  }

  .variant {
    font-size: calc(100vw / 106.667); /* 18px */
    margin: calc(100vw / 96) 0; /* 20px 0 */
  }
}
@media screen and (max-width: 768px) {
  .text {
    margin-top: calc(100vw / 48); /* примерно 16px * 2.5 */
    font-size: calc(100vw / 38.4);
  }

  .emailInput {
    margin: calc(100vw / 21.33) 0 calc(100vw / 48) 0; /* 36px 0 16px 0 */
    border-radius: calc(100vw / 64); /* 12px */
    padding: calc(100vw / 69.82) calc(100vw / 38.4); /* 11px 20px */
    font-size: calc(100vw / 38.4); /* 20px */
  }

  .button {
    width: 100%;
    font-size: calc(100vw / 38.4); /* 20px */
  }

  .variant {
    font-size: calc(100vw / 42.67); /* 18px */
    margin: calc(100vw / 38.4) 0; /* 20px 0 */
  }
}
@media screen and (max-width: 390px) {
  .text {
    margin-top: calc(100vw / 24.34); /* примерно 16px * 2.5 * 0.507 */
    font-size: calc(100vw / 19.47);
  }

  .emailInput {
    margin: calc(100vw / 10.81) 0 calc(100vw / 24.34) 0; /* 36px 0 16px 0 */
    border-radius: calc(100vw / 32.45); /* 12px */
    padding: calc(100vw / 35.39) calc(100vw / 19.47); /* 11px 20px */
    font-size: calc(100vw / 19.47); /* 20px */
  }

  .button {
    width: 100%;
    font-size: calc(100vw / 19.47); /* 20px */
  }

  .variant {
    font-size: calc(100vw / 21.63); /* 18px */
    margin: calc(100vw / 19.47) 0; /* 20px 0 */
  }
}
