.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.scrollArea {
  margin-top: 20px;
  border-radius: 12px;
  height: 527px;
  background-color: var(--dark-3);
  padding: 16px;
  overflow-y: auto;
}

.button {
  margin-top: 20px;
  width: 200px;
}
.question {
  border-bottom: 1px solid var(--border);
}
.questionHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 10px;
}
.questionTitle {
  font-weight: 400;
  font-family: var(--ff-Eesti);
  font-size: 24px;
}
.answer {
  padding: 0 10px;
  font-size: 20px;
  margin-bottom: 12px;
}
.arrow {
  width: 24px;
}

@media screen and (max-width: 1680px) {
  .scrollArea {
    margin-top: calc(100vw / 96); /* 20px */
    border-radius: calc(100vw / 160); /* 12px */
    height: calc(100vw / 3.643); /* 527px */
    padding: calc(100vw / 120); /* 16px */
  }

  .button {
    margin-top: calc(100vw / 96); /* 20px */
    width: calc(100vw / 9.6); /* 200px */
  }

  .questionHeader {
    padding: calc(100vw / 68.571) calc(100vw / 192); /* 28px 10px */
  }

  .questionTitle {
    font-size: calc(100vw / 80); /* 24px */
  }

  .answer {
    padding: 0 calc(100vw / 192); /* 0 10px */
    font-size: calc(100vw / 120); /* 16px */
    margin-bottom: calc(100vw / 160); /* 12px */
  }

  .arrow {
    width: calc(100vw / 80); /* 24px */
  }
}
@media screen and (max-width: 768px) {
  .scrollArea {
    margin-top: 20px;
    border-radius: 12px;
    height: 527px;
    padding: 16px;
  }

  .button {
    margin-top: 20px;
    width: 200px;
  }

  .questionHeader {
    padding: 28px 10px;
  }
  .questionTitle {
    font-size: 24px;
  }
  .answer {
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .arrow {
    width: 24px;
  }
}
