.wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    justify-content: start;
    overflow-x: auto;
    height: 440px;
  }
}

@media (hover: hover) and (pointer: fine) and (max-width: 1280px) {
  /* Стили для ПК */
  .wrapper {
    width: 100vw;
  }
}

/* Устройства с грубым указателем (палец) — обычно смартфоны и планшеты */
@media (hover: none) and (pointer: coarse) and (max-width: 1280px) {
  .wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100vw;
  }
  .wrapper::-webkit-scrollbar {
    display: none;
  }
}
