.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.scrollArea {
  margin-top: 16px;
  border-radius: 12px;
  height: 650px;
  background-color: var(--dark-3);
  padding: 8px;
  overflow-y: auto;
}
.info {
  font-size: 16px;
  line-height: 155%;
}
.button {
  margin-top: 20px;
}
@media screen and (max-width: 1680px) {
  .scrollArea {
    height: calc(100vw / 2.95);
    margin-top: calc(100vw / 120);
    border-radius: calc(100vw / 160);
    padding: calc(100vw / 240);
  }
  .info {
    font-size: calc(100vw / 120);
  }
  .button {
    margin-top: calc(100vw / 96);
  }
}
@media (max-width: 480px) {
  .scrollArea {
    height: 240px; /* фиксированная высота для удобства */
    margin-top: 8px;
    border-radius: 8px;
    padding: 6px;
  }

  .info {
    font-size: 14px;
  }

  .button {
    margin-top: 10px;
  }
}

/* Адаптив для планшетов */
@media (max-width: 768px) and (min-width: 481px) {
  .scrollArea {
    height: 360px;
    margin-top: 12px;
    border-radius: 10px;
    padding: 8px;
  }

  .info {
    font-size: 16px;
  }

  .button {
    margin-top: 14px;
  }
}
