.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.scrollArea {
  margin-top: 16px;
  border-radius: 12px;
  height: 650px;
  background-color: var(--dark-3);
  padding: 8px;
  overflow-y: auto;
}
.info {
  font-size: 16px;
  line-height: 155%;
}
.button {
  margin-top: 20px;
  width: 200px;
}
@media screen and (max-width: 1680px) {
  .scrollArea {
    height: calc(100vw / 2.95);
    margin-top: calc(100vw / 120);
    border-radius: calc(100vw / 160);
    padding: calc(100vw / 240);
  }
  .info {
    font-size: calc(100vw / 120);
  }
  .button {
    margin-top: calc(100vw / 96);
    width: calc(100vw / 9.6);
  }
}
@media screen and (max-width: 768px) {
  .scrollArea {
    margin-top: 16px;
    border-radius: 12px;
    padding: 8px;
    height: 650px;
  }
  .info {
    font-size: 16px;
  }
  .button {
    margin-top: 20px;
    width: 200px;
  }
}
