.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.scrollArea {
  margin-top: 16px;
  border-radius: 12px;
  height: 650px;
  background-color: var(--dark-3);
  padding: 8px;
  overflow-y: auto;
}
.info {
  font-size: 16px;
  line-height: 155%;
}
.button {
  margin-top: 20px;
  width: 200px;
}
@media screen and (max-width: 1920px) {
  .scrollArea {
    height: calc(100vw / 2.95);
    margin-top: calc(100vw / 120);
    border-radius: calc(100vw / 160);
    padding: calc(100vw / 240);
  }
  .info {
    font-size: calc(100vw / 120);
  }
  .button {
    margin-top: calc(100vw / 96);
    width: calc(100vw / 9.6);
  }
}
@media screen and (max-width: 768px) {
  .scrollArea {
    height: calc(100vw / 1.18);
    margin-top: calc(100vw / 48);
    border-radius: calc(100vw / 64);
    padding: calc(100vw / 96);
  }
  .info {
    font-size: calc(100vw / 48);
  }
  .button {
    margin-top: calc(100vw / 38.4);
    width: calc(100vw / 3.84);
  }
}
@media screen and (max-width: 390px) {
  .scrollArea {
    height: auto;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    overflow-y: visible;
  }
  .info {
    font-size: calc(100vw / 24.375);
    margin-top: calc(100vw / 30);
  }
  .button {
    display: none;
  }
}
