.modal {
  box-shadow: 0 0 12px var(--primary-color);
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.levelWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: -20px;
}
.title {
  font-family: var(--ff-Eesti);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.info {
  margin-top: 10px;
  font-size: 16px;
  line-height: 155%;
}
.button {
  width: 200px;
  margin-top: 20px;
}
p.accent {
  color: var(--accent);
  font-size: 18px;
}
span.bold {
  font-weight: 700;
}
@media screen and (max-width: 1920px) {
  .modal {
    box-shadow: 0 0 calc(100vw / 160) var(--primary-color);
  }

  .levelWrapper {
    top: calc(-100vw / 96);
  }
  .title {
    font-size: calc(100vw / 60);
  }
  .info {
    margin-top: calc(100vw / 192);
    font-size: calc(100vw / 120);
  }
  .button {
    width: calc(100vw / 9.6);
    margin-top: calc(100vw / 96);
  }
  p.accent {
    font-size: calc(100vw / 106.66);
  }
}
@media (max-width: 768px) {
  .modal {
    box-shadow: 0 0 calc(100vw / 64) var(--primary-color);
  }

  .levelWrapper {
    top: calc(-100vw / 38.4);
  }

  .title {
    font-size: calc(100vw / 24);
  }

  .info {
    margin-top: calc(100vw / 76.8);
    font-size: calc(100vw / 48);
  }

  .button {
    width: calc(100vw / 3.84);
    margin-top: calc(100vw / 38.4);
  }
  p.accent {
    font-size: calc(100vw / 42.66);
  }
}
@media (max-width: 480px) {
  .modal {
    box-shadow: 0 0 calc(100vw / 32.448) var(--primary-color);
  }

  .levelWrapper {
    top: calc(-100vw / 24);
  }

  .title {
    font-size: calc(100vw / 12.168);
  }

  .info {
    margin-top: calc(100vw / 38.9376);
    font-size: calc(100vw / 24.336);
  }

  .button {
    display: none;
  }
  p.accent {
    font-size: calc(100vw / 21.632);
  }
}
