.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.level {
  position: absolute;
  top: 5px;
  background-color: var(--dark);
  transform: translateY(-20px);
  font-family: var(--ff-Unbounded);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  border-radius: 12px;
}

.title {
  font-family: var(--ff-Eesti);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.info {
  margin-top: 10px;
  font-size: 16px;
  line-height: 155%;
}
.button {
  margin: 20px 0;
  padding: 11px 55px;
}
@media screen and (max-width: 1680px) {
  .level {
    top: calc(100vw / 384); /* 5px */
    transform: translateY(calc(-100vw / 96)); /* -20px */
    font-size: calc(100vw / 106.667); /* 18px */
    padding: calc(100vw / 192) calc(100vw / 38.4); /* 10px 50px */
    border-radius: calc(100vw / 160); /* 12px */
  }

  .title {
    font-size: calc(100vw / 60); /* 32px */
  }

  .info {
    margin-top: calc(100vw / 192); /* 10px */
    font-size: calc(100vw / 120); /* 16px */
  }

  .button {
    padding: calc(100vw / 174.545) calc(100vw / 34.909); /* 11px 55px */
    margin: calc(100vw / 96) 0;
  }
}
@media screen and (max-width: 768px) {
  .level {
    top: 5px;
    transform: translateY(-20px);
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 12px;
  }

  .title {
    font-size: 32px;
  }
  .info {
    margin-top: 10px;
    font-size: 16px;
  }
  .button {
    padding: 11px 55px;
    margin: 20px 0;
  }
}
