.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 18px 0;
}
.button {
  position: relative;
  width: 620px;
}
.discount {
  position: absolute;
  top: -10px;
  left: -30px;
  transform: rotate(-15deg);
  background-color: #ffffff;
  color: var(--accent);
  font-family: var(--ff-Eesti);
  font-size: 20px;
  font-weight: 500;
  border-radius: 100px;
  padding: 8px 24px;
}
@media screen and (max-width: 1680px) {
  .wrapper {
    padding: calc(100vw / 48) 0;
  }
  .button {
    position: relative;
    width: calc(100vw / 3);
  }
  .discount {
    top: calc(-100vw / 192);
    left: calc(-100vw / 64);
    font-size: calc(100vw / 96);
    border-radius: calc(100vw / 19.2);
    padding: calc(100vw / 240) calc(100vw / 80);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 18px 20px;
  }
  .button {
    font-size: 20px;
    width: 100%;
  }
  .discount {
    transform: rotate(15deg);
    left: auto;
    right: -15px;
    font-size: 20px;
  }
}
