.wrapper {
  display: flex;
  align-items: center;
  gap: 58px;
}
.link {
  font-weight: 700;
  font-size: 16px;
}
.link.disable {
  color: var(--text-6);
}
.button {
  padding: 7px 0;
  font-size: 16px;
  font-weight: 500;
  width: 182px;
}

@media screen and (max-width: 1920px) {
  .wrapper {
    gap: calc(100vw / 33.1);
  }
  .link {
    font-size: calc(100vw / 120);
  }

  .button {
    padding: calc(100vw / 274.28) 0;
    width: calc(100vw / 10.54);
    font-size: calc(100vw / 120);
  }
}
