.center {
  display: flex;
  justify-content: center;
}
.imageWrapper {
  width: 150px;
  height: 150px;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
}
.title {
  font-family: var(--ff-Eesti);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}
.text {
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  font-weight: 400;
}
.button {
  width: 100%;
}
@media screen and (max-width: 1680px) {
  .imageWrapper {
    width: calc(100vw / 12.8); /* 150px */
    height: calc(100vw / 12.8); /* 150px */
  }

  .title {
    font-size: calc(100vw / 53.333); /* 36px */
    margin: calc(100vw / 96) 0; /* 20px 0 */
  }

  .text {
    font-size: calc(100vw / 120); /* 16px */
  }
}
@media screen and (max-width: 768px) {
  .imageWrapper {
    width: 150px;
    height: 150px;
  }

  .title {
    font-size: 36px;
    margin: 20px 0;
  }
  .text {
    font-size: 16px;
  }
}
