.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imageWrapper {
  width: 193px;
  height: 193px;
  margin-bottom: 18px;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: var(--ff-Eesti);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.text {
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  font-weight: 400;
}
.button {
  margin-top: 36px;
  width: 100%;
}
@media screen and (max-width: 1680px) {
  .imageWrapper {
    width: 128px;
    height: 128px;
  }
  .title {
    font-size: 28px;
    margin-bottom: 12px;
  }
  .text {
    font-size: 12px;
  }
  .button {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .imageWrapper {
    width: 80px;
    height: 80px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .text {
    font-size: 10px;
  }

  .button {
    margin-top: 16px;
  }
}

/* Для планшетов */
@media (min-width: 481px) and (max-width: 768px) {
  .imageWrapper {
    width: 100px;
    height: 100px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .text {
    font-size: 11px;
  }

  .button {
    margin-top: 18px;
  }
}
