.text {
  line-height: 155%;
  font-size: 20px;
  margin-top: 16px;
}
.emailInput {
  width: 100%;
  margin: 60px 0 10px 0;
  background-color: initial;
  border-radius: 12px;
  border: 1px solid var(--border);
  padding: 11px 20px;
  font-size: 20px;
}
.button {
  width: 100%;
  font-family: var(--ff-Eesti);
  font-weight: 500;
}

@media screen and (max-width: 1680px) {
  .text {
    font-size: calc(100vw / 96); /* 20px */
    margin-top: calc(100vw / 120); /* 16px */
  }

  .emailInput {
    margin: calc(100vw / 32) 0 calc(100vw / 192) 0; /* 60px 0 10px 0 */
    border-radius: calc(100vw / 160); /* 12px */
    padding: calc(100vw / 174.545) calc(100vw / 96); /* 11px 20px */
    font-size: calc(100vw / 96); /* 20px */
  }
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 20px;
    margin-top: 16px;
  }
  .emailInput {
    margin: 60px 0 10px 0;

    border-radius: 12px;

    padding: 11px 20px;
    font-size: 20px;
  }
}
