.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.button {
  position: relative;
  background: linear-gradient(180deg, #ff8800 0%, #ff6a00 100%);
  width: 622px;
}
.discount {
  position: absolute;
  top: -10px;
  left: -30px;
  transform: rotate(-15deg);
  background-color: #ffffff;
  color: var(--accent);
  font-family: var(--ff-Eesti);
  font-size: 20px;
  font-weight: 500;
  border-radius: 100px;
  padding: 8px 24px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 18px;
  }
  .button {
    font-size: 20px;
    width: 100%;
  }
  .discount {
    transform: rotate(15deg);
    left: auto;
    right: -15px;
  }
}
