.center {
  display: flex;
  justify-content: center;
}
.imageWrapper {
  width: 150px;
  height: 150px;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
}
.title {
  font-family: var(--ff-Eesti);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}
.text {
  font-size: 18px;
  line-height: 155%;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}
.button {
  width: 100%;
}
@media screen and (max-width: 1920px) {
  .imageWrapper {
    width: calc(100vw / 12.8); /* 150px */
    height: calc(100vw / 12.8); /* 150px */
  }

  .title {
    font-size: calc(100vw / 53.333); /* 36px */
    margin: calc(100vw / 96) 0; /* 20px 0 */
  }

  .text {
    font-size: calc(100vw / 120); /* 16px */
    margin-bottom: calc(100vw / 120); /* 16px */
  }
}
@media screen and (max-width: 768px) {
  .imageWrapper {
    width: calc(100vw / 5.12); /* примерно 150px * 2.5 */
    height: calc(100vw / 5.12); /* примерно 150px * 2.5 */
  }

  .title {
    font-size: calc(100vw / 21.33); /* примерно 36px * 2.5 */
    margin: calc(100vw / 38.4) 0; /* примерно 20px * 2.5 0 */
  }

  .text {
    font-size: calc(100vw / 48); /* примерно 16px * 2.5 */
    margin-bottom: calc(100vw / 48); /* примерно 16px * 2.5 */
  }
}
@media screen and (max-width: 480px) {
  .imageWrapper {
    width: calc(100vw / 3.5); /* Примерно 150px * 2.5 * 0.507 */
    height: calc(100vw / 3.5); /* Примерно 150px * 2.5 * 0.507 */
  }

  .title {
    font-size: calc(100vw / 17); /* Примерно 36px * 2.5 * 0.507 */
    margin: calc(100vw / 19.47) 0; /* Примерно 20px * 2.5 * 0.507 0 */
  }

  .text {
    font-size: calc(100vw / 28); /* Примерно 16px * 2.5 * 0.507 */
    margin-bottom: calc(100vw / 28); /* Примерно 16px * 2.5 * 0.507 */
  }
}
