.wrapper {
  margin: 38px auto 109px auto;
  width: 950px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.searchInput {
  flex-grow: 2;
  border-radius: 12px;
  background-color: var(--dark);
  border: 1px solid var(--border);
  padding: 13px 24px;
  font-size: 18px;
}
.button {
  font-family: var(--ff-Eesti);
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
  padding: 11px 80px;
}
@media screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    margin: 20px auto 35px auto;
    flex-direction: column;
    gap: 12px;
  }
  .searchInput {
    width: 100%;
    padding: 11px 24px;
  }
  .button {
    padding: 13px 0;
    width: 100%;
  }
}
