.wrapper {
  margin: 38px auto 109px auto;
  width: 950px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.searchInput {
  flex-grow: 2;
  border-radius: 12px;
  background-color: var(--dark);
  border: 1px solid var(--border);
  padding: 11px 24px;
}
