.wrapper {
  margin-top: 200px;
}
.title {
  text-align: center;
  font-family: var(--ff-Eesti);
  font-size: 52px;
}
.subTitle {
  text-align: center;
  font-family: var(--ff-Eesti);
  font-size: 20px;
  color: var(--text-5);
  margin-top: 27px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 90px;
  }
  .title {
    font-size: 28px;
  }
  .subTitle {
    margin-top: 16px;
    font-size: 16px;
  }
}
