.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.separator {
  width: 1px;
  background-color: var(--text);
  height: 24px;
}
.variant {
  font-weight: 700;
  cursor: pointer;
}
.variant.disable {
  color: var(--text-6);
}
@media screen and (max-width: 1920px) {
  .wrapper {
    gap: calc(100vw / 240);
  }
  .variant {
    font-size: calc(100vw / 120);
  }
  .separator {
    height: calc(100vw / 80);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin: calc(100vw / 64) 0;
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--border);
    border-radius: calc(100vw / 96);
    background-color: var(--dark);
  }
  .variant {
    text-align: center;
    flex-grow: 2;
    font-size: calc(100vw / 48);
  }
  .separator {
    height: calc(100vw / 32);
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    margin: calc(100vw / 31.7) 0;
    width: 100%;
    border-radius: calc(100vw / 47.63);
  }
  .variant {
    font-size: calc(100vw / 23.81);
    padding: calc(100vw / 65) 0;
  }
  .separator {
    height: calc(100vw / 16.25);
  }
}
