.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.separator {
  width: 1px;
  background-color: var(--text);
  height: 20px;
}
.variant {
  font-weight: 700;
  cursor: pointer;
}
.variant.disable {
  color: var(--text-6);
}
