.level {
  background-color: var(--dark);
  font-family: var(--ff-Unbounded);
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0;
  border-radius: 12px;
  box-shadow: inset 0 0 12px var(--primary-color);
  color: var(--primary-color);
  width: 200px;
  text-align: center;
}

@media screen and (max-width: 1920px) {
  .level {
    font-size: calc(100vw / 106.667);
    padding: calc(100vw / 384) 0;
    border-radius: calc(100vw / 160);
    width: calc(100vw / 9.6);
    box-shadow: inset 0 0 calc(100vw / 160);
  }
}

@media screen and (max-width: 768px) {
  .level {
    width: calc(100vw / 3.84);
    font-size: calc(100vw / 42.666);
    padding: calc(100vw / 153.6) 0;
    border-radius: calc(100vw / 64);
    box-shadow: inset 0 0 calc(100vw / 64);
  }
}

@media screen and (max-width: 480px) {
  .level {
    width: calc(100vw / 1.95);
    font-size: calc(100vw / 21.666);
    padding: calc(100vw / 78) 0;
    border-radius: calc(100vw / 32.5);
    box-shadow: inset 0 0 calc(100vw / 32.5);
  }
}
