.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  width: 200px;
}
@media screen and (max-width: 1920px) {
  .info {
    margin-top: calc(100vw / 192); /* 10px */
    font-size: calc(100vw / 120); /* 20px */
  }
  .button {
    width: calc(100vw / 9.6);
  }
}
@media screen and (max-width: 768px) {
  .info {
    margin-top: calc(100vw / 192); /* 10px */
    font-size: calc(100vw / 48); /* 20px */
  }
  .button {
    width: calc(100vw / 3.84);
  }
}
@media screen and (max-width: 480px) {
  .info {
    margin-top: calc(100vw / 192); /* 10px */
    font-size: calc(100vw / 24.336); /* 20px */
  }
  .button {
    display: none;
  }
}
