.wrapper {
  margin-top: 190px;
}
.title,
.subTitle {
  text-align: center;
  font-family: var(--ff-Eesti);
}
.title {
  font-size: 52px;
}
.subTitle {
  font-size: 20px;
  color: var(--text-5);
  margin-top: 20px;
}

@media screen and (max-width: 1920px) {
  .wrapper {
    margin-top: calc(100vw / 10.1);
  }
  .title {
    font-size: calc(100vw / 36.92);
  }
  .subTitle {
    margin-top: calc(100vw / 96);
    font-size: calc(100vw / 96);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 90px;
  }
  .title {
    font-size: 28px;
  }
  .subTitle {
    margin-top: 16px;
    font-size: 16px;
  }
}
