.Toastify__toast-icon {
  width: 22px;
}
@media screen and (max-width: 1920px) {
  .Toastify__toast-icon {
    width: calc(100vw / 85.27);
  }
}
@media screen and (max-width: 768px) {
  .Toastify__toast-icon {
    width: calc(100vw / 32.9);
  }
}
@media screen and (max-width: 480px) {
  .Toastify__toast-icon {
    width: calc(100vw / 15.69);
  }
}
