@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Eesti';
  src: url('/fonts/gteestiprodisplay_medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Eesti';
  src: url('/fonts/gteestiprodisplay_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Eesti';
  src: url('/fonts/gteestiprodisplay_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --accent: #ff8800;
  --error: #fb0000;
  --dark-3: #2f353f;
  --dark: #242930;
  --dark-5: #1b1b1b;
  --text: #ffffff;
  --text-5: #ffffffc9;
  --text-6: #ffffff70;
  --border: #99999985;
  --ff-Unbounded: 'Unbounded';
  --ff-Manrope: 'Manrope';
  --ff-Eesti: 'Eesti';
}

* {
  /* user-select: none; */
  padding: 0;
  margin: 0;
  outline: 0;
  font-weight: 400;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text);
  font-family: var(--ff-Manrope);
  font-size: 16px;
  line-height: 30px;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent; /* Убирает синий подсвет */
  -webkit-touch-callout: none; /* Отключает контекстное меню на iOS */
  -webkit-user-select: none; /* Запрещает выделение текста */
}
@media screen and (max-width: 1920px) {
  * {
    line-height: calc(100vw / 64);
    font-size: calc(100vw / 120);
  }
}
@media screen and (max-width: 768px) {
  * {
    line-height: calc(100vw / 25.6);
    font-size: calc(100vw / 48);
  }
}
@media screen and (max-width: 390px) {
  * {
    line-height: calc(100vw / 13);
    font-size: calc(100vw / 24.375);
  }
}
