.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-5);
}
.header {
  width: 100%;
  max-width: 1640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.title {
  font-size: 28px;
  font-family: var(--ff-Unbounded);
}
.title span {
  font-family: var(--ff-Unbounded);
  color: var(--accent);
}

@media screen and (max-width: 1680px) {
  .header {
    padding: calc(100vw / 96);
  }
  .title {
    font-size: calc(100vw / 68);
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }
  .title {
    font-size: 28px;
  }
}
