.modal {
  position: relative;
  width: 700px;
  box-shadow: 0 0 12px var(--error);
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.level {
  margin: 0 auto;
  position: absolute;
  background-color: var(--dark);
  transform: translateY(-60px);
  font-family: var(--ff-Unbounded);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  border-radius: 12px;
  color: var(--error);
  box-shadow: inset 0px 0px 12px var(--error);
}
.title {
  font-size: 30px;
  font-family: var(--ff-Eesti);
  text-align: center;
  margin-bottom: 16px;
}
.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: 18px;
}
.link.blur {
  filter: blur(4px);
}
.description {
  text-align: center;
  font-size: 16px;
}
.linkButton {
  width: 150px;
  margin: 0;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrapper {
  width: 24px;
}
.scrollView {
  max-height: 300px;
  background-color: var(--dark-3);
  overflow-y: auto;
  margin: 20px 0;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.button * {
  font-family: var(--ff-Eesti);
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1440px) {
  .level {
    font-size: 14px;
    padding: 8px 38px;
  }
  .modal {
    width: 528px;
  }
}
