.wrapper {
  display: flex;
  align-items: center;
  gap: 58px;
}
.link {
  font-weight: 700;
}
.link.disable {
  color: var(--text-6);
}

@media screen and (max-width: 1366px) {
  .link {
    font-size: 14px;
  }
  .wrapper {
    gap: 30px;
  }
}
